header {
  height: 80px;
  width: 100vw;
  background-color: rgb(77, 70, 70);
  display: flex;
  position: relative;
  padding: 0px 20px;
  .logo {
    color: rgb(42, 218, 174);
    font-size: 22px;
    font-weight: bold;
    line-height: 80px;
    text-decoration: none;
  }
}
.issue_form {
  height: 100%;
  width: 100%;
  margin-top: 30px;
  .title_box {
    height: 80px;
    width: 800px;
    margin: auto;
    .title {
      font-size: 22px;
      padding: 15px;
      height: 100%;
      width: 100%;
      background-color: #f17d5a;
    }
  }
  .content_box {
    height: 800px;
    width: 800px;
    margin: auto;
    .content {
      padding: 15px;
      height: 600px;
      width: 100%;
    }
  }
  .submit_btn {
    height: 50px;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    .submit {
      height: 100%;
      width: 100%;
    }
  }
}

.abc{
  height:200px;
  width:100%;
  margin: 0 auto;
}


