header {
  height: 80px;
  width: 100vw;
  background-color: rgb(77, 70, 70);
  display: flex;
  position: relative;
  padding: 0px 20px;
  .logo {
    color: rgb(42, 218, 174);
    font-size: 22px;
    font-weight: bold;
    line-height: 80px;
    text-decoration: none;
  }
}
.issue_form {
  height: 100%;
  margin: 10px 20px 10px 20px;
  .title_box {
    height: 80px;
    width: 100%;

    .title {
      font-size: 22px;
      padding: 15px;
      height: 100%;
      width: 100%;
      background-color: #f17d5a;
    }
  }
  .content_box {
    height: 620px;
    width: 100%;
    display:flex;
    margin-top:10px;
    .content {
      padding: 15px;
      height: 100%;
      width: 50%;
      font-size: 1.2rem;
      overflow: scroll;
      margin-right:10px;
    }
  }
  .submit_btn {
    height: 50px;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    .submit {
      height: 100%;
      width: 100%;
    }
  }
}

.abc{
  height:100%;
  width:50%;
  border: solid 1px black;
  padding:15px;
  overflow: scroll;
  margin-left:10px;
}


